In [3]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [4]:
df = pd.read_clipboard()

In [5]:
df

Empty DataFrame
Columns: [sudo, pip, install, lxml]
Index: []

In [6]:
df.to_csv('df_ioi.csv',index=False)

In [7]:
pd.read_csv('df_io.csv')

,Unnamed: 0,Format,Type,Data,Description,Reader,Writer
0,0,text,CSV,NaN,NaN,NaN,NaN
1,1,read_csv,NaN,NaN,NaN,NaN,NaN
2,2,to_csv,NaN,NaN,NaN,NaN,NaN
3,3,text,JSON,NaN,NaN,NaN,NaN
4,4,read_json,NaN,NaN,NaN,NaN,NaN
5,5,to_json,NaN,NaN,NaN,NaN,NaN
6,6,text,HTML,NaN,NaN,NaN,NaN
7,7,read_html,NaN,NaN,NaN,NaN,NaN
8,8,to_html,NaN,NaN,NaN,NaN,NaN
9,9,text,Local,clipboard,read_clipboard,NaN,NaN
10,10,to_clipboard,NaN,NaN,NaN,NaN,NaN
11,11,binary,MS,Excel,NaN,NaN,NaN
12,12,read_excel,NaN,NaN,NaN,NaN,NaN
13,13,to_excel,NaN,NaN,NaN,NaN,NaN
14,14,binary,HDF5,Format,NaN,NaN,NaN
15,15,read_hdf,NaN,NaN,NaN,NaN,NaN
16,16,to_hdf,NaN,NaN,NaN,NaN,NaN
17,17,binary,Feather,Format,NaN,NaN,NaN
18,18,read_feather,NaN,NaN,NaN,NaN,NaN
19,19,to_feather,NaN,NaN,NaN,NaN,NaN
20,20,binary,Parquet,Format,NaN,NaN,NaN
21,21,read_parquet,NaN,NaN,NaN,NaN,NaN
22,22,to_parquet,NaN,NaN,NaN,NaN,NaN
23,23,binary,Msgpack,NaN,NaN,NaN,NaN
24,24,read_msgpack,NaN,NaN,NaN,NaN,NaN
25,25,to_msgpack,NaN,NaN,NaN,NaN,NaN
26,26,binary,Stata,NaN,NaN,NaN,NaN
27,27,read_stata,NaN,NaN,NaN,NaN,NaN
28,28,to_stata,NaN,NaN,NaN,NaN,NaN
29,29,binary,SAS,NaN,NaN,NaN,NaN
30,30,read_sas,NaN,NaN,NaN,NaN,NaN
31,31,binary,Python,Pickle,Format,NaN,NaN
32,32,read_pickle,NaN,NaN,NaN,NaN,NaN
33,33,to_pickle,NaN,NaN,NaN,NaN,NaN
34,34,SQL,SQL,NaN,NaN,NaN,NaN
35,35,read_sql,NaN,NaN,NaN,NaN,NaN
36,36,to_sql,NaN,NaN,NaN,NaN,NaN
37,37,SQL,Google,Big,Query,NaN,NaN
38,38,read_gbq,NaN,NaN,NaN,NaN,NaN
39,39,to_gbq,NaN,NaN,NaN,NaN,NaN

In [8]:
df.to_json()

'{"sudo":{},"pip":{},"install":{},"lxml":{}}'

In [9]:
df_json=df.to_json()

In [10]:
pd.read_json(df.to_json())

Empty DataFrame
Columns: [install, lxml, pip, sudo]
Index: []

In [14]:
df.to_html('df_io.html')

In [15]:
df_html=pd.read_html('df_io.html')